<div class="wrapper">
  <div class="contents">
    <div class="content">
      <div class="content__top">
        <div class="content__top__lyric">
          生涯忘れぬことはないでしょう
        </div>
        <div class="content__top__info">
          <div class="content__top__info__artist">
            @ aiko
          </div>
          <div class="content__top__info__sn">
            ♪カブトムシ
          </div>
        </div>
      </div>
      <div class="content__bottom">
        <div class="content__bottom__text">
          切ない感じが良い。
        </div>
        <div class="content__bottom__link">
          Music Link : aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </div>
      </div>
    </div>
  </div>
</div>