<div class="wrapper">
  <header>
    <div class="title">
      Lyricers
    </div>
  </header>
  <div class="contents">
    <div class="content">
      <div class="content__top">
        <div class="content__top__lyric">
          生涯忘れぬことはないでしょう
        </div>
        <div class="content__top__info">
          <div class="content__top__info__artist">
            @ aiko
          </div>
          <div class="content__top__info__sn">
            ♪カブトムシ
          </div>
        </div>
      </div>
      <div class="content__bottom">
        切ない感じが良い。
      </div>
    </div>
  </div>
</div>