<div class="UserPage-wrapper">
  <div class="UserPage-wrapper__left">
    <div class="UserPage-wrapper__left__content">
      <h1><%= @name %></h1>
      <%= link_to user_path(@user.id), class: "move_like" do %>
        <i class="fas fa-paper-plane"> index</i> 
      <% end %>
    </div>
  </div>
  <div class="UserPage-wrapper__right">
    <div class="contents">
      <%= render partial: "layouts/tweet", collection: @tweets %>
    </div>
  </div>
</div>