<div class="UserPage-wrapper">
  <div class="UserPage-wrapper__left">
    <h1><%= @name %></h1>
  </div>
  <div class="UserPage-wrapper__right">
    <div class="contents">
      <% @tweets.each do |tweet| %>
        <%= render partial: "layouts/tweet", locals: { tweet: tweet }%>
      <% end %>
    </div>
  </div>
</div>