@import "reset";
@import "bootstrap";
@import "app_view/tweet";
@import "font-awesome-sprockets";
@import "font-awesome";

@font-face {
  font-family: 'kaito';
  src: font-url('Houstiny-Alt.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.notifications {
  color: $white;
  text-align: center; 
  height: 10px;
  line-height: 20px;
  font-size: 20px;
  padding-top: 80px;
  position: fixed;
  width: 100%;
  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: orange;
    
  }
}