.search-wrapper{
  background-image: url("https://cdn.pixabay.com/photo/2016/03/27/22/21/table-1284507__480.jpg");
    background-size: cover;
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  display: flex;
    &__right{
      height: calc(100vh - 80px);
      width: 400px;
      padding: 20px 0 0 24px;
      background-image: url("https://cdn.pixabay.com/photo/2016/01/10/21/05/mic-1132528__480.jpg");
      background-size: cover;
      h1{
        color: white;
        font-size: 40px;
      }
      .search-form{
        padding-top: 16px;
        &__text{
          width: 320px;
        }
        .btn{
          margin-top: 20px;
        }
      }
    }
  &__left{
    
    height: calc(100vh - 80px);
    padding-left: 112px;
    .contents{
      width: 800px;
      height: calc(100vh - 80px);
      margin: 0 auto;
      overflow: scroll;
      padding-top: 40px;
      .content{
        margin-bottom: 30px;
        padding: 10px;
        border: outset 3px gray;
        background-color: whitesmoke;
        &__top{
          &__lyric{
            font-size: 32px;
            padding-bottom: 20px;
          }
          &__info{
            display: flex;
            position: relative;
            top: 0px;
            left:0px;
            &__artist{
              padding-right: 10px;
            }
          }
        }
        &__bottom{
          border-top: solid 1px black;
          padding-top: 15px;
          position: relative;
          font-size: 24px;
          &__bottom{
            height: 48px;
            display: flex;
            justify-content: space-between;
            &__link{
              padding-top: 15px;
              font-size: 16px;
            }
            &__likes{
              line-height: 50px;
                ul{
                  display: flex;
                  height: 60px;
                  margin-left: 500px;
                  .like__top{
                    padding-right: 16px;
                    font-size: 36px;
                    color: rgb(236, 136, 153);
                  }
                  .like__bottom{
                    font-size: 48px;
                    color: rgb(236, 136, 153);
                    line-height: 50px;
                  }
                }
              }
            &__trash-btn{
              position: relative;
              bottom: 16px;
              font-size: 40px;
              padding: 16px 8px 16px 8px;
              
              .fas{
                color: black;
              }
            }
          }
        }
      }
    } 
  }
}