* {
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 80px;
  background-color: red;
  position: fixed;
  display: flex;
  justify-content: space-between;
}
.title{
  font-size: 40px;
  line-height: 80px;
  padding-left: 20px;
  font-weight: bold;
  &__logo{
    text-decoration: none;
    color: white;
  }
}

.user__btn{
  z-index: 5;
  position: relative;
  padding-right: 40px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  &__search{
    font-size: 46px;
    line-height: 80px;
   .fa-search{
     text-decoration: none;
     color: white;
   }
  }
  &--new{
    text-decoration: none;
    font-size: 50px;
    a{   
      color: white;
    }
  }
  &--log-out{
    padding-left: 30px;
    line-height: 70px;
  }
  &--sign-in{
    line-height: 70px;
    
    &__1{
    }
  }
  &--log-in{ 
    line-height: 70px;  
  }
}




.wrapper{
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  background-color: rgba(212, 209, 209, 0.952);
  .contents{
    width: 800px;
    height: calc(100vh - 80px);
    margin: 0 auto;
    overflow: scroll;
    padding-top: 40px;
    .content{
      margin-bottom: 30px;
      padding: 10px;
      border: outset 3px gray;
      background-color: whitesmoke;
      &__top{
       
        &__lyric{
          font-size: 32px;
          padding-bottom: 20px;
        }
        &__info{
          display: flex;
          position: relative;
          top: 0px;
          left:0px;
          
          &__artist{
            padding-right: 10px;
          }
        }
      }
      &__bottom{
        border-top: solid 1px black;
        padding-top: 15px;
        position: relative;
        font-size: 24px;
        &__link{
          padding-top: 15px;
          font-size: 16px;
        }
        &__trash-btn{
          position: absolute;
          right: 10px;
          top: 30px;
          font-size: 32px;
          padding: 16px 8px 16px 8px;
          
          .fas{
            color: black;
          }
        }
      }
    }
  }
}

.new__wrapper{
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  .form__content{
    width: 1000px;
    margin: auto;
    
    h1{
      padding-top: 50px;
    }
    .form-group{
      margin-top: 20px;
      &--top{
        margin-top: 20px;
      }
      &__midle{
        width: 475px;
      }
      &__left{
        margin-right: 50px;
      }
    }
    .middle{
      display: flex;
    }
    .btn{
      margin-top: 30px;
    }
  }
}

.user_wrapper{
  padding-top: 100px;
  width: 100%;
  height: 100vh;
}

