* {
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 80px;
  background-color: red;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}
.title{
  font-size: 40px;
  line-height: 80px;
  padding-left: 20px;
  font-weight: bold;
  &__logo{
    text-decoration: none;
    color: white;
  }
}

.user__btn{
  z-index: 5;
  position: relative;
  padding-right: 40px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  &__search{
    font-size: 46px;
    line-height: 80px;
   .fa-search{
     text-decoration: none;
     color: white;
   }
  }
  &--new{
    text-decoration: none;
    font-size: 50px;
    a{   
      color: white;
    }
  }
  &--log-out{
    padding-left: 30px;
    line-height: 70px;
  }
  &--sign-in{
    line-height: 70px;
    
    &__1{
    }
  }
  &--log-in{ 
    line-height: 70px;  
  }
}

.wrapper{
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2015/05/15/14/50/concert-768722_1280.jpg");
  background-size: cover;
  .contents{
    width: 800px;
    height: calc(100vh - 80px);
    margin: 0 auto;
    overflow: scroll;
    padding-top: 40px;
    .content{
      margin-bottom: 30px;
      padding: 10px;
      border: outset 8px gray;
      background-color: whitesmoke;
      &__top{
        &__user_name{
          font-size: 24px;
          .personal{
            text-decoration: none;
            color: black;
          }
        }
        &__lyric{
          font-size: 32px;
          padding-bottom: 10px;
          font-weight: bold;
        }
        &__info{
          display: flex;
          position: relative;
          top: 0px;
          left:0px;
          &__artist{
            padding-left: 10px;
          }
        }
      }
      &__bottom{
        border-top: solid 1px black;
        padding-top: 15px;
        font-size: 16px;
        &__text{
          font-weight: bold; 
        }
        &__bottom{
          font-weight: bold;
          position: relative;
          height: 60px;
          display: flex;
          justify-content: space-between;
          &__link-false{
            display: none;
           }
          &__link{
            height: 60px;
            padding-top: 15px;
            font-size: 16px;
            .fa-youtube{
              font-size: 60px;
              text-decoration: none;
              color: red;
              line-height: 38px;
              transition: all 0.5s ease 0s;
            }
            .fa-youtube:hover {
              opacity: 0.6;
            }
          }
          &__likes{
            height: 60px;
            width: 100px;
            position: absolute;
            top: 16;
            right: 80px;
             ul{
               width: 100px;
               padding-top: 8px;
               display: flex;
               height: 60px;

               .like__top{
                 line-height: 50px;
                padding-right: 16px;
                font-size: 40px;
                color: rgb(236, 136, 153);
                 &__before{
                   text-decoration: none;
                   color: rgb(236, 136, 153);
                 }
                 &__after{
                   text-decoration: none;
                   color: gray;
                 }
                
               }
               .like__bottom{
                 font-size: 48px;
                 color: rgb(236, 136, 153);
                 line-height: 50px;
               }
             }
           }
          &__trash-btn{
            font-size: 56px;
            position: absolute;
            top: -6px;
            right: 20px;
            
           
            .fas{
              color: black;
            }
          }
        }
      }
    }
  }
}

.user__wrapper__signup{
  background-image: url("https://cdn.pixabay.com/photo/2016/02/19/11/36/microphone-1209816_1280.jpg");
  background-size: cover;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  .form__content{
    width: 1000px;
    margin: auto;
    
    h1{
      padding-top: 50px;
      color: white;
    }
    .form-group{
      margin-top: 20px;
      &--top{
        margin-top: 20px;
        width: 764px;
        
      }
      &__midle{
        width: 475px;
      }
      &__left{
        margin-right: 32px;
      }
      &__link{
        width: 764px;
      }
      &__bottom{
        width: 764px;
      }
    }
    .middle{
      display: flex;
    }
    .btn{
      margin-top: 30px;
    }
  }
}

